@import "../../../../styles/colors.scss";

.component_filter {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .title {
        font-size: 1.6rem;
        font-weight: 600;
    }

    .fields_wrap {
        display: flex;
        gap: 10px;
    }

    .component_field {
        position: relative;
        width: 100%;
    }

    .field {
        padding: 1rem 1rem 1rem 3rem;

        font-size: 1.4rem;
        font-weight: 600;
        border-radius: 5px;

        position: relative;
        z-index: 10;

        &:hover,
        &:focus {
            border-color: $black-1;
        }
    }

    .lable {
        font-size: 1.4rem;
        font-weight: 600;
        position: absolute;
        top: 50%;
        left: 1rem;
        transform: translateY(-50%);
        z-index: 2;
    }
}

.component_mobile {
    .component_mobile__info_wrap {
        position: relative;
    }

    .component_mobile__info {
        display: flex;
        gap: 3px;
        padding: 6px 22px 6px 10px;

        font-size: 1.4rem;
        text-wrap: nowrap;
        color: $white-1;
        cursor: pointer;

        border-radius: 50px;
        background-color: $black-2;
        position: relative;

        &.empty {
            padding: 6px 10px;
            color: $black-1;
            background-color: lighten($color: $gray-2, $amount: 19);
        }
    }

    .component_mobile__info_icon {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 3px;
        transform: translateY(-50%);

        & svg {
            stroke: $gray-1;
            width: 20px;
            height: 20px;
            transition: stroke 0.1s ease-in-out;

            &:hover {
                stroke: $white-1;
            }
        }
    }

    .component_modal {
        max-width: 430px;
        width: 100%;

        @media (max-width: 520px) {
            max-width: 100%;
        }
    }

    .component_filter__wrap {
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 40px;

        .title {
            margin-bottom: 25px;
            font-size: 3rem;
            font-weight: 600;

            & span {
                display: none;
            }
        }

        .fields_wrap {
            display: flex;
            gap: 10px;
        }

        .component_field {
            position: relative;
        }

        .field {
            padding: 0.8em 0;

            font-size: 1.4rem;
            font-weight: 600;
            border-radius: 0;
            border: none;
            border-bottom: 1px solid $gray-2;

            position: relative;
            z-index: 10;

            &:hover,
            &:focus {
                border-color: $black-1;
            }
        }

        .lable {
            margin-bottom: 5px;
            font-size: 1.8rem;
            font-weight: 600;
            text-transform: capitalize;
        }

        @media (max-width: 520px) {
            padding: 30px;
        }
    }
}
